@model IEnumerable<WebApplication1.Models.Product>

@{
ViewData["Title"] = "Productos";
}


<h1>Productos</h1>
<a asp-action="Create" class="btn btn-success mb-3">Agregar Nuevo Producto</a>
<div>
    <table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>